.responsive-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 800px) {
    .responsive-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .responsive-list * {
        justify-self: stretch;
    }
}

.responsive-list-item {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 280;
    min-height: 140;

    background-color: var(--color-primary);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media (min-width: 350px) {
    .responsive-list-item {
        min-width: 330px;
        min-height: 165px;
    }
}

@media (min-width: 400px) {
    .responsive-list-item {
        min-width: 380px;
        min-height: 190px;
    }
}

@media (min-width: 450px) {
    .responsive-list-item {
        min-width: 430px;
        min-height: 215px;
    }
}

@media (min-width: 500px) {
    .responsive-list-item {
        min-width: 480px;
        min-height: 240px;
    }
}

@media (min-width: 550px) {
    .responsive-list-item {
        min-width: 530px;
        min-height: 265px;
    }
}

@media (min-width: 600px) {
    .responsive-list-item {
        min-width: 580px;
        min-height: 290px;
    }
}

@media (min-width: 700px) {
    .responsive-list-item {
        min-width: 680px;
        min-height: 340px;
    }
}

@media (min-width: 800px) {
    .responsive-list-item {
        min-width: 380px;
        min-height: 190px;
    }
}

@media (min-width: 1000px) {
    .responsive-list-item {
        min-width: 484px;
        min-height: 242px;
    }
}

@media (min-width: 1100px) {
    .responsive-list-item {
        min-width: 534px;
        min-height: 267px;
    }
}

@media (min-width: 1200px) {
    .responsive-list-item {
        min-width: 584px;
        min-height: 292px;
    }
}