

#map {
    width: 75%;
    height: 300px;
    position: relative;
    border: 1px solid #ccc;
    
}

.content {
    padding: 20px;
    text-align: center;
}

.kaart{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .leaflet-overlay-pane {
    z-index: 500;
}

.leaflet-marker-pane {
    z-index: 600;
}

.d3-layer {
    z-index: 400;
    /* D3 elementen krijgen een lagere z-index */
